body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Rockwell';
}

.header {
    background-color: #000100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

.menu-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    margin: 1rem;
}

.menu-mobile {
    display: none;
}

.dropdown {
    display: none;
}

.logo {
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 15%;
}

.menu-item > a {
    text-decoration: none;
    color: white;
    margin: 30px;
}

.banner {
    padding: 3rem 0;
    text-align: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.container {
    width: 70%;
}

.projetos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.projetos-1 {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
.projeto-item {
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: 1rem;
    padding: 1rem 0; 
    /* border: 1px solid; */
    border-radius: 10px;
    background-color: black;
    
}

.proj-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 30%;
    color: white;
}

.proj-content > p {
    margin-top: 1rem;
}

.proj-content > a {
    color: whitesmoke;
    text-decoration: none;
}

.Projeto-img {
    width: 50%;
    display: flex;
    
}
.list-projects {
    display: flex;
}

.img-too-big {
    display:flex;
    width: 40%;
}

.project-container {
    display: flex;
    height: 100%;
}

.imagem-de-projeto {
    margin: 1.5rem;
    border: 1px solid;
}

.projeto-item > a {
    text-decoration: none;
    color: white;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
}

.texto > h2, h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.img-categoria { 
    padding-top: 2rem;
    text-align: center;
    
}

.titulo-cat {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.login_insert {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    padding: 1rem;
}


@media (max-width: 750px) {
    .header {
        width: 100%;
    }

    .menu-mobile {
        display: flex;
        width: 100px;
    }

    .menu-desktop {
        display: none;
    }

    .projeto-item {
        width: 80vw;
    }

    .dropdown {
        display: none;
        transition: 100s;
    }

    .dropdown-menu:hover .dropdown {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        flex-direction: column;
    }

    .image{
        width: 100%;
    }

}